.u-hover {
  text-decoration: none;
}

.u-hover:hover {
  text-decoration: underline;
}

.font-mono {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono',
    'Courier New', monospace;
}
